.metadata/.lock
.metadata/.log
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/com.agitar.eclipse.coverage/AgitarClient.log.0
.metadata/.plugins/com.agitar.eclipse.coverage/AgitarClient.log.1
.metadata/.plugins/com.agitar.eclipse.coverage/AgitarClient.log.2
.metadata/.plugins/com.agitar.eclipse.coverage/AgitarClient.log.3
.metadata/.plugins/com.agitar.eclipse.coverage/AgitarClient.log.4
.metadata/.plugins/com.google.appengine.eclipse.core/appengine-sdk-proxy.jar
.metadata/.plugins/com.google.gwt.eclipse.core/clientBundleResources
.metadata/.plugins/com.google.gwt.eclipse.core/searchIndex
.metadata/.plugins/com.google.gwt.eclipse.core/uiBinderReferences
.metadata/.plugins/org.codehaus.groovy.eclipse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.compare/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.history/4f/80f4d699547000101092fcaebfce359e
.metadata/.plugins/org.eclipse.core.resources/.history/67/8008f774de3b00101fdbf6ae802a5191
.metadata/.plugins/org.eclipse.core.resources/.history/6b/f031cbb3e63b00101fdbf6ae802a5191
.metadata/.plugins/org.eclipse.core.resources/.history/81/c09aaad095b10010146e8d0997bde5a6
.metadata/.plugins/org.eclipse.core.resources/.history/bc/20c912c3e63b00101fdbf6ae802a5191
.metadata/.plugins/org.eclipse.core.resources/.history/c/10332898547000101092fcaebfce359e
.metadata/.plugins/org.eclipse.core.resources/.history/f8/405c9a95547000101092fcaebfce359e
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.analytics/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.analytics/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.assembler/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.assembler/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.assembler/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.assembler/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.disassembler/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.disassembler/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.disassembler/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.disassembler/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core.disassembler/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.core/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.assembler/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.assembler/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.assembler/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.assembler/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.assembler/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.assembler/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.core/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.core/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.core/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.core/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.core/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.core/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.disassembler/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.disassembler/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.disassembler/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.disassembler/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.disassembler/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.dalvik.disassembler/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.assembler/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.assembler/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.assembler/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.assembler/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.assembler/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.core/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.core/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.core/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.disassembler/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.disassembler/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.disassembler/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.disassembler/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.disassembler/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.jvm.disassembler/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.repl/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.repl/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.repl/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.repl/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.repl/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.repl/org.eclipse.pde.api.tools/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.java.meta/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.java.meta/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.java.meta/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.java.meta/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.java.meta/org.eclipse.pde.api.tools/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/testbed/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/testbed/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/testbed/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/26.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.hyades.probekit.455
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.ddms.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.appengine.eclipse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.gdt.eclipse.suite.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.google.gwt.eclipse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.hyades.trace.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tptp.platform.common.ui.trace.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.views.log.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/BasicsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/BranchTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DalvikDisassemblerTestSuite.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DalvikOpGenerator.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DalvikOperationsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DoublesTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/FloatsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/InstanceFieldsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/IntegersTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/InvocationsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JakAssemblerApiTestSuite.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JakAssemblerTestSuite.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JakDisassemblerApiTestSuite.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JakRepl.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaJvmTypesTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/JavaTypesApiTestSuite.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/LongsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/StaticFieldsTest.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/SwitchGenerator.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/main.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.epp.usagedata.recording/.org.eclipse.epp.usagedata.recording.workspaceId
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1178815867.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1380702012.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/178805089.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/2095312996.index
.metadata/.plugins/org.eclipse.jdt.core/2147195806.index
.metadata/.plugins/org.eclipse.jdt.core/2249042844.index
.metadata/.plugins/org.eclipse.jdt.core/2286151582.index
.metadata/.plugins/org.eclipse.jdt.core/2326659272.index
.metadata/.plugins/org.eclipse.jdt.core/2494932659.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2611578481.index
.metadata/.plugins/org.eclipse.jdt.core/2618464014.index
.metadata/.plugins/org.eclipse.jdt.core/272178059.index
.metadata/.plugins/org.eclipse.jdt.core/2798066872.index
.metadata/.plugins/org.eclipse.jdt.core/2816036299.index
.metadata/.plugins/org.eclipse.jdt.core/2873840502.index
.metadata/.plugins/org.eclipse.jdt.core/2982688190.index
.metadata/.plugins/org.eclipse.jdt.core/3000285004.index
.metadata/.plugins/org.eclipse.jdt.core/3004609673.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3381598792.index
.metadata/.plugins/org.eclipse.jdt.core/3421685537.index
.metadata/.plugins/org.eclipse.jdt.core/3508794516.index
.metadata/.plugins/org.eclipse.jdt.core/3569674952.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/3909419391.index
.metadata/.plugins/org.eclipse.jdt.core/3954040986.index
.metadata/.plugins/org.eclipse.jdt.core/4185975540.index
.metadata/.plugins/org.eclipse.jdt.core/4238209716.index
.metadata/.plugins/org.eclipse.jdt.core/4249315662.index
.metadata/.plugins/org.eclipse.jdt.core/450555687.index
.metadata/.plugins/org.eclipse.jdt.core/765977872.index
.metadata/.plugins/org.eclipse.jdt.core/770573466.index
.metadata/.plugins/org.eclipse.jdt.core/817293917.index
.metadata/.plugins/org.eclipse.jdt.core/84777399.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.junit/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/1/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/1/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/7/30/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2011/7/30/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.assembler/2011/1/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.assembler/2011/1/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.assembler/2011/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.assembler/2011/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.assembler/2011/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.assembler/2011/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.disassembler/2011/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.disassembler/2011/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.disassembler/2011/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core.disassembler/2011/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core/2011/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core/2011/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core/2011/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.core/2011/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.assembler/2011/2/8/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.assembler/2011/2/8/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.core/2011/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.core/2011/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.core/2011/4/18/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.core/2011/4/18/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.core/2011/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.core/2011/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/3/13/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/3/13/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/4/18/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/4/18/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/5/20/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.dalvik.disassembler/2011/5/20/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.disassembler/2011/3/13/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.disassembler/2011/3/13/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.assembler/2011/1/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.assembler/2011/1/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.assembler/2011/2/8/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.assembler/2011/2/8/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.assembler/2011/4/17/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.assembler/2011/4/17/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.disassembler/2011/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.jvm.disassembler/2011/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.repl/2011/1/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.jak.repl/2011/1/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.java.meta/2011/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/net.dougqh.java.meta/2011/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.api.tools/net.dougqh.jak.core.assembler/.api_description
.metadata/.plugins/org.eclipse.pde.api.tools/net.dougqh.jak.core/.api_description
.metadata/.plugins/org.eclipse.pde.api.tools/net.dougqh.jak.jvm.assembler/.api_description
.metadata/.plugins/org.eclipse.pde.api.tools/net.dougqh.jak.jvm.core/.api_description
.metadata/.plugins/org.eclipse.pde.api.tools/net.dougqh.jak.repl/.api_description
.metadata/.plugins/org.eclipse.pde.api.tools/net.dougqh.java.meta/.api_description
.metadata/.plugins/org.eclipse.pde.core/-1227017936565.target/.lazy
.metadata/.plugins/org.eclipse.pde.core/-1227017936565.target/.pluginInfo
.metadata/.plugins/org.eclipse.pde.core/-1227017936565.target/.state
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.pde.core/.extensions/.contributions.6
.metadata/.plugins/org.eclipse.pde.core/.extensions/.contributors.6
.metadata/.plugins/org.eclipse.pde.core/.extensions/.extraData.6
.metadata/.plugins/org.eclipse.pde.core/.extensions/.mainData.6
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTable.12
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTable.13
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTableLock
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.tmp536989103997718428.instance
.metadata/.plugins/org.eclipse.pde.core/.extensions/.namespaces.6
.metadata/.plugins/org.eclipse.pde.core/.extensions/.orphans.6
.metadata/.plugins/org.eclipse.pde.core/.extensions/.table.6
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1295915269476.target
.metadata/.plugins/org.eclipse.pde.core/1284988837863.workspace/.lazy
.metadata/.plugins/org.eclipse.pde.core/1284988837863.workspace/.pluginInfo
.metadata/.plugins/org.eclipse.pde.core/1284988837863.workspace/.state
.metadata/.plugins/org.eclipse.pde.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.tptp.platform.probekit.launch/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.views.log/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/version.ini
.metadata/.plugins/com.agitar.eclipse.coverage/AgitarClient.log.0.lck
.metadata/.plugins/org.eclipse.core.resources/.projects/net.dougqh.jak.analytics/.indexes/af/history.index